##############################################################

# mysql configure file my.cnf
# 本配置文件主要适用于MySQL 5.7版本
# datadir:/data/mysql/$port/
# innodb_buffer_pool_size:内存的70%再除以实例数目,最小1G
# server_id生成规则:"date +%s"
#

##############################################################


[client]
port=65536
socket=/data/mysql/65536/mysql.sock

[mysqld]
port=65536
datadir=/data/mysql/65536/
socket=/data/mysql/65536/mysql.sock
pid_file=/data/mysql/65536/mysql.pid
log_error=/data/mysql/65536/mysql.err
general_log_file=/data/mysql/65536/mysql.log
tmpdir=/data/mysql/tmpdir/65536/
slave_load_tmpdir=/data/mysql/tmpdir/65536/
transaction_isolation=READ-COMMITTED
# 打开read_only
read_only=on
skip_name_resolve

# repl settings
log_bin=binlog
sync_binlog=0
log_slave_updates=on
# Tips:根据端口号+IP生成
server_id=14294967295
relay_log=/data/mysql/65536/relay
relay_log_info_file=/data/mysql/65536/relay.info
master_info_file=/data/mysql/65536/master.info
binlog_format=row
max_allowed_packet=1024M
# 复制信息
master_info_repository=file
relay_log_info_repository=file
# 多线程复制
slave_parallel_workers=0
slave_parallel_type=logical_clock
# gtid相关
gtid_mode=off
enforce_gtid_consistency=off
# 部分复制参数,保留
#replicate-wild-ignore-table=bi_tmp.%
#replicate_wild_do_table=bi_tmp.%

# slow log settings
slow_query_log_file=/data/mysql/65536/mysql-slow.log
slow_query_log=1
long_query_time=1
log_bin_trust_function_creators=1
skip_external_locking
log_queries_not_using_indexes=0

# memory/performance settings
# Tips:脚本变量生成
innodb_buffer_pool_size=1G
key_buffer_size=512M
query_cache_size=512M
query_cache_limit=2M
join_buffer_size=32M
sort_buffer_size=32M
read_buffer_size=32M
tmp_table_size=512M
max_heap_table_size=512M
# Tips:参数调整
read_rnd_buffer_size=1M
myisam_sort_buffer_size=480M

# other settings
max_connections=3000
max_user_connections=3000
max_connect_errors=99999999
wait_timeout=28800
interactive_timeout=28800
max_tmp_tables=128
back_log=600
open_files_limit=204800
delay_key_write=ALL
low_priority_updates
thread_stack=512K
# sql_mode关闭
sql_mode=''
# Tips:调成大于表数目,太小pt工具跑ddl会导致内存飙升
table_definition_cache=200000

# innodb settings
innodb_lock_wait_timeout=8
innodb_log_file_size=512M
innodb_flush_method=O_DIRECT
innodb_flush_log_at_trx_commit=2
innodb_file_per_table=1
innodb_log_buffer_size=64M
innodb_log_files_in_group=2
innodb_log_file_size=512M
# 根据服务器IOPS能力适当调整
# 一般配普通SSD盘的话，可以调整到 10000 - 20000
# 配置高端PCIe SSD卡的话，则可以调整的更高，比如 50000 - 80000
#innodb_io_capacity=4000
#innodb_io_capacity_max=8000

# myisam settings
myisam_repair_threads=1

[mysqldump]
quick
max_allowed_packet=1024M

[mysql]
no_auto_rehash

[myisamchk]
key_buffer_size=512M
sort_buffer_size=20M
read_buffer=2M
write_buffer=2M

[mysqlhotcopy]
interactive_timeout
